**Exploring Formula 1 Insights with SQL**

Welcome to the "Exploring Formula 1 Insights with SQL" notebook! In this notebook, we delve into the rich world of Formula 1 using SQL queries to extract valuable insights from a comprehensive database. The database includes tables containing information about drivers, lap times, races, circuits, constructor results, driver standings, pit stops, qualifying details, race results, and more.

Throughout this notebook, we'll leverage SQL queries to unravel intriguing patterns, analyze driver performances, examine race statistics, and uncover hidden gems within the Formula 1 data. From identifying podium streaks to exploring average pit stop durations, each query aims to provide a deeper understanding of the dynamic and competitive world of Formula 1 racing.

Let's embark on this journey of SQL-driven exploration to gain valuable insights into the fascinating realm of Formula 1!

In [1]:
import sqlite3
import pandas as pd

database = "/kaggle/input/formula-1/Formula1.sqlite"

In [2]:
conn = sqlite3.connect(database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,circuits,circuits,2,CREATE TABLE circuits (circuitId INTEGER PRIMA...
1,table,races,races,3,CREATE TABLE races (raceId INTEGER PRIMARY KEY...
2,table,driver_standings,driver_standings,4,CREATE TABLE driver_standings (driverStandings...
3,table,drivers,drivers,5,CREATE TABLE drivers (driverId INTEGER PRIMARY...
4,table,constructors,constructors,6,"CREATE TABLE constructors (constructorId, cons..."
5,table,results,results,7,"CREATE TABLE results (resultId, raceId INTEGER..."
6,table,constructor_standings,constructor_standings,8,CREATE TABLE constructor_standings (constructo...
7,table,constructor_results,constructor_results,9,CREATE TABLE constructor_results (constructorR...
8,table,laptimes,laptimes,10,CREATE TABLE laptimes (raceId INTEGER REFERENC...
9,table,pitstops,pitstops,11,CREATE TABLE pitstops (raceId INTEGER REFERENC...
10,table,qualifying,qualifying,12,CREATE TABLE qualifying (qualifyId INTEGER PRI...
11,table,seasons,seasons,13,"CREATE TABLE seasons (year INTEGER, url VARCHAR)"
12,table,status,status,14,CREATE TABLE status (statusId INTEGER PRIMARY ...

### 1. List all drivers and their nationalities:

In [3]:
drivers = pd.read_sql("""SELECT driverId, forename, surname, nationality
                        FROM drivers;""", conn)
drivers

     driverId  forename     surname    nationality
0           1     Lewis    Hamilton        British
1           2      Nick    Heidfeld         German
2           3      Nico     Rosberg         German
3           4  Fernando      Alonso        Spanish
4           5    Heikki  Kovalainen        Finnish
..        ...       ...         ...            ...
837       839   Esteban        Ocon         French
838       840     Lance      Stroll       Canadian
839       841   Antonio  Giovinazzi        Italian
840       842    Pierre       Gasly         French
841       843   Brendon     Hartley  New Zealander

[842 rows x 4 columns]

This SQL query extracts essential information about Formula 1 drivers from the database. The resulting DataFrame, named "drivers," includes details such as driver ID, forename, surname, and nationality. By executing this query, we obtain a concise overview of the driver profiles, paving the way for further analysis and exploration of individual driver characteristics within the Formula 1 dataset.

### 2. Retrieve the circuits in the US:

In [4]:
circuits = pd.read_sql("""SELECT circuitId, name, location, country
                        FROM circuits WHERE country = 'USA'""", conn)
circuits

    circuitId                             name        location country
0          19      Indianapolis Motor Speedway    Indianapolis     USA
1          33           Phoenix street circuit         Phoenix     USA
2          37           Detroit Street Circuit         Detroit     USA
3          42                        Fair Park          Dallas     USA
4          43                       Long Beach      California     USA
5          44         Las Vegas Street Circuit          Nevada     USA
6          46                     Watkins Glen  New York State     USA
7          60  Riverside International Raceway      California     USA
8          63    Sebring International Raceway         Florida     USA
9          69          Circuit of the Americas          Austin     USA
10         72     Port Imperial Street Circuit      New Jersey     USA

This SQL query focuses on extracting information about Formula 1 circuits located in the United States. The resulting DataFrame, named "circuits," includes details such as circuit ID, name, location, and country, specifically filtered for circuits situated in the USA. By executing this query, we gain insights into the characteristics and geographical distribution of Formula 1 circuits within the United States.

### 3. List all drivers who achieved a podium finish in Monaco:

In [5]:
pd.read_sql("""SELECT d.driverRef, d.forename, d.surname, res.position, c.name AS race_name
                FROM results res
                JOIN drivers d ON res.driverId = d.driverId
                JOIN races r ON res.raceId = r.raceId
                JOIN circuits c ON r.circuitId = c.circuitId
                WHERE c.country = 'Monaco' AND res.position <= 3;""", conn)

     driverRef   forename     surname  position          race_name
0     hamilton      Lewis    Hamilton         1  Circuit de Monaco
1       kubica     Robert      Kubica         2  Circuit de Monaco
2        massa     Felipe       Massa         3  Circuit de Monaco
3       alonso   Fernando      Alonso         1  Circuit de Monaco
4     hamilton      Lewis    Hamilton         2  Circuit de Monaco
..         ...        ...         ...       ...                ...
189  ricciardo     Daniel   Ricciardo         2  Circuit de Monaco
190      perez     Sergio       P̩rez         3  Circuit de Monaco
191     vettel  Sebastian      Vettel         1  Circuit de Monaco
192  raikkonen       Kimi  R�_ikk̦nen         2  Circuit de Monaco
193  ricciardo     Daniel   Ricciardo         3  Circuit de Monaco

[194 rows x 5 columns]

This SQL query retrieves information about Formula 1 drivers who achieved podium finishes in races held in Monaco. The resulting DataFrame includes driver references, forenames, surnames, race positions, and the corresponding race names. By joining tables for results, drivers, races, and circuits, and applying conditions for races in Monaco and podium positions (1st to 3rd), this query provides insights into the performances of drivers in one of the most iconic Grand Prix locations.

### 4. List all pit stops made by Daniel Ricciardo in Baku:

In [6]:
pd.read_sql("""SELECT d.forename, d.surname, p.stop, p.lap, p.duration, p.milliseconds, r.raceId, c.country, c.name
                FROM drivers d
                JOIN pitstops p ON p.driverId = d.driverId
                JOIN races r ON r.raceId = p.raceId
                JOIN circuits c ON r.circuitId = c.circuitId
                WHERE c.country = 'Azerbaijan' AND d.forename = 'Daniel' AND d.surname = 'Ricciardo';""", conn)

,forename,surname,stop,lap,duration,milliseconds,raceId,country,name
0,Daniel,Ricciardo,1,6,19.84,19840,955,Azerbaijan,Baku City Circuit
1,Daniel,Ricciardo,2,22,20.155,20155,955,Azerbaijan,Baku City Circuit
2,Daniel,Ricciardo,1,5,23.361,23361,976,Azerbaijan,Baku City Circuit
3,Daniel,Ricciardo,2,13,20.198,20198,976,Azerbaijan,Baku City Circuit
4,Daniel,Ricciardo,3,17,15.135,15135,976,Azerbaijan,Baku City Circuit
5,Daniel,Ricciardo,4,22,21:53.343,1313343,976,Azerbaijan,Baku City Circuit

This SQL query provides details about the pit stops made by Formula 1 driver Daniel Ricciardo during races held in Azerbaijan. The resulting DataFrame includes information such as Ricciardo's forename, surname, pit stop number, lap, duration, milliseconds, race ID, and details about the circuit, including its country and name. By joining the drivers, pitstops, races, and circuits tables and applying specific conditions for the country (Azerbaijan) and the driver (Daniel Ricciardo), this query allows us to explore the pit stop history of this particular driver in the context of races in Azerbaijan.

### 5. List all winners for the year 2016

In [7]:
pd.read_sql("""SELECT d.driverRef, d.forename, d.surname, res.position, c.name AS race_name
                FROM results res
                JOIN drivers d ON res.driverId = d.driverId
                JOIN races r ON res.raceId = r.raceId
                JOIN circuits c ON r.circuitId = c.circuitId
                WHERE r.year = 2016 AND res.position = 1;""", conn)

,driverRef,forename,surname,position,race_name
0,rosberg,Nico,Rosberg,1,Albert Park Grand Prix Circuit
1,rosberg,Nico,Rosberg,1,Bahrain International Circuit
2,rosberg,Nico,Rosberg,1,Shanghai International Circuit
3,rosberg,Nico,Rosberg,1,Sochi Autodrom
4,max_verstappen,Max,Verstappen,1,Circuit de Barcelona-Catalunya
5,hamilton,Lewis,Hamilton,1,Circuit de Monaco
6,hamilton,Lewis,Hamilton,1,Circuit Gilles Villeneuve
7,rosberg,Nico,Rosberg,1,Baku City Circuit
8,hamilton,Lewis,Hamilton,1,Red Bull Ring
9,hamilton,Lewis,Hamilton,1,Silverstone Circuit
10,hamilton,Lewis,Hamilton,1,Hungaroring
11,hamilton,Lewis,Hamilton,1,Hockenheimring
12,rosberg,Nico,Rosberg,1,Circuit de Spa-Francorchamps
13,rosberg,Nico,Rosberg,1,Autodromo Nazionale di Monza
14,rosberg,Nico,Rosberg,1,Marina Bay Street Circuit
15,ricciardo,Daniel,Ricciardo,1,Sepang International Circuit
16,rosberg,Nico,Rosberg,1,Suzuka Circuit
17,hamilton,Lewis,Hamilton,1,Circuit of the Americas
18,hamilton,Lewis,Hamilton,1,AutÃ_dromo Hermanos RodrÃ_guez
19,hamilton,Lewis,Hamilton,1,AutÃ_dromo JosÃ© Carlos Pace
20,hamilton,Lewis,Hamilton,1,Yas Marina Circuit

This SQL query identifies Formula 1 drivers who secured the first position in races during the year 2016. The resulting DataFrame includes driver references, forenames, surnames, race positions, and the corresponding race names. By joining the tables for results, drivers, races, and circuits and applying conditions for the year 2016 and the first position (1), this query allows us to examine the drivers who achieved victory in races throughout the specified year.

### 6. Retrieve the team standings and their total points in 2017:

In [8]:
pd.read_sql("""SELECT c.name AS team, SUM(cr.points) AS total_points
FROM constructor_results cr
JOIN constructors c ON cr.constructorId = c.constructorId
JOIN races r ON cr.raceId = r.raceId
WHERE r.year = 2017
GROUP BY c.name
ORDER BY total_points DESC""", conn)

           team  total_points
0      Mercedes           668
1       Ferrari           522
2      Red Bull           368
3   Force India           187
4      Williams            83
5       Renault            57
6    Toro Rosso            53
7  Haas F1 Team            47
8       McLaren            30
9        Sauber             5

This SQL query calculates the total points earned by each Formula 1 constructor during the year 2017. The resulting DataFrame includes the team name and the sum of points scored by that team. By joining the tables for constructor results, constructors, and races, and applying a condition for the year 2017, this query provides insights into the overall performance of each constructor throughout the specified racing season. The results are ordered in descending order based on the total points scored.

### 7. Retrieve the races in 2015 where Daniel Ricciardo finished on the podium and the corresponding lap times:

In [9]:
pd.read_sql("""SELECT d.driverRef, d.forename, d.surname, c.name AS race_name, l.lap, l.position, l.time, l.milliseconds
                FROM results res
                JOIN drivers d ON res.driverId = d.driverId
                JOIN laptimes l ON res.raceId = l.raceId
                JOIN races r ON res.raceId = r.raceId
                JOIN circuits c ON r.circuitId = c.circuitId
                WHERE r.year = 2015 AND d.surname = 'Ricciardo' AND l.position <= 3;""", conn)

,driverRef,forename,surname,race_name,lap,position,time,milliseconds
0,ricciardo,Daniel,Ricciardo,Albert Park Grand Prix Circuit,1,1,2:22.988,142988
1,ricciardo,Daniel,Ricciardo,Albert Park Grand Prix Circuit,1,2,2:24.350,144350
2,ricciardo,Daniel,Ricciardo,Albert Park Grand Prix Circuit,1,3,2:26.113,146113
3,ricciardo,Daniel,Ricciardo,Albert Park Grand Prix Circuit,2,1,2:26.005,146005
4,ricciardo,Daniel,Ricciardo,Albert Park Grand Prix Circuit,2,2,2:25.242,145242
...,...,...,...,...,...,...,...,...
3442,ricciardo,Daniel,Ricciardo,Yas Marina Circuit,54,2,1:47.207,107207
3443,ricciardo,Daniel,Ricciardo,Yas Marina Circuit,54,3,1:46.397,106397
3444,ricciardo,Daniel,Ricciardo,Yas Marina Circuit,55,1,1:47.913,107913
3445,ricciardo,Daniel,Ricciardo,Yas Marina Circuit,55,2,1:47.946,107946
3446,ricciardo,Daniel,Ricciardo,Yas Marina Circuit,55,3,1:49.036,109036

This SQL query retrieves lap time details for laps where Formula 1 driver Daniel Ricciardo finished within the top 3 positions during races in the year 2015. The resulting DataFrame includes information such as Ricciardo's driver reference, forename, surname, the name of the race, lap number, lap position, lap time, and lap time in milliseconds. By joining the tables for results, drivers, laptimes, races, and circuits and applying specific conditions for the year 2015, the driver's surname (Ricciardo), and lap positions within the top 3, this query provides insights into Ricciardo's performance in terms of lap times during that specific racing season.

### 8. Find the average lap time for each circuit in a specific year:

In [10]:
pd.read_sql("""SELECT c.name, c.country, r.year, AVG(l.time) as avg_laptime
                FROM circuits c
                JOIN races r ON c.circuitId = r.circuitId
                JOIN laptimes l ON r.raceId = l.raceId
                GROUP BY r.raceId
                HAVING r.year = 2017
                ORDER BY avg_laptime DESC""", conn)

                              name     country  year  avg_laptime
0                Baku City Circuit  Azerbaijan  2017     1.781553
1        Marina Bay Street Circuit   Singapore  2017     1.681657
2     Circuit de Spa-Francorchamps     Belgium  2017     1.164103
3   Shanghai International Circuit       China  2017     1.138427
4                   Suzuka Circuit       Japan  2017     1.093891
5                   Sochi Autodrom      Russia  2017     1.076087
6    Bahrain International Circuit     Bahrain  2017     1.062147
7              Silverstone Circuit          UK  2017     1.061867
8                      Hungaroring     Hungary  2017     1.053386
9     AutÃ_dromo JosÃ© Carlos Pace      Brazil  2017     1.039417
10       Circuit Gilles Villeneuve      Canada  2017     1.032423
11              Yas Marina Circuit         UAE  2017     1.021339
12  Circuit de Barcelona-Catalunya       Spain  2017     1.020758
13         Circuit of the Americas         USA  2017     1.017149
14               Circuit de Monaco      Monaco  2017     1.009901
15  AutÃ_dromo Hermanos RodrÃ_guez      Mexico  2017     1.006531
16  Albert Park Grand Prix Circuit   Australia  2017     1.005308
17    Autodromo Nazionale di Monza       Italy  2017     1.000999
18    Sepang International Circuit    Malaysia  2017     1.000000
19                   Red Bull Ring     Austria  2017     1.000000

This SQL query analyzes the average lap times recorded at each circuit during the Formula 1 races in the year 2017. The resulting DataFrame includes the circuit name, country, racing year, and the calculated average lap time. By joining the circuits, races, and laptimes tables, grouping the results by race ID, filtering for races in the year 2017, and then ordering the output by average lap time in descending order, this query provides insights into the circuit-wise lap time performance during the specified racing season.

### 9. List the top 5 drivers with the most wins and their total points:

In [11]:
pd.read_sql("""SELECT d.forename, d.surname, SUM(res.points) AS total_points
                FROM drivers d
                JOIN results res ON d.driverId = res.driverId
                GROUP BY d.driverId
                ORDER BY total_points DESC
                LIMIT 5""", conn)

    forename     surname  total_points
0      Lewis    Hamilton        2610.0
1  Sebastian      Vettel        2425.0
2   Fernando      Alonso        1849.0
3       Nico     Rosberg        1594.5
4    Michael  Schumacher        1566.0

This SQL query identifies the top 5 Formula 1 drivers based on their total points earned. The resulting DataFrame includes the forename, surname, and the sum of points for each driver. By joining the drivers and results tables, grouping the results by driver ID, and ordering the output by total points in descending order, this query provides a snapshot of the top-performing drivers in terms of cumulative points. The LIMIT clause ensures that only the top 5 drivers are included in the result set.

### 10. Identify races where the pole position driver did not finish on the podium:

In [12]:
pd.read_sql("""SELECT r.name AS race_name, d.forename, d.surname, res.grid AS pole_position, pod.position AS podium_position
FROM results res
JOIN races r ON res.raceId = r.raceId
JOIN drivers d ON res.driverId = d.driverId
LEFT JOIN (
   SELECT raceId, position, driverId
   FROM results
   WHERE position <= 3
) AS pod ON res.raceId = pod.raceId AND res.driverId = pod.driverId
WHERE res.grid = 1 AND pod.position IS NULL
""", conn)

,race_name,forename,surname,pole_position,podium_position
0,Malaysian Grand Prix,Felipe,Massa,1,None
1,Canadian Grand Prix,Lewis,Hamilton,1,None
2,British Grand Prix,Heikki,Kovalainen,1,None
3,Hungarian Grand Prix,Lewis,Hamilton,1,None
4,Singapore Grand Prix,Felipe,Massa,1,None
...,...,...,...,...,...
370,German Grand Prix,Nico,Rosberg,1,None
371,Malaysian Grand Prix,Lewis,Hamilton,1,None
372,Azerbaijan Grand Prix,Lewis,Hamilton,1,None
373,Singapore Grand Prix,Sebastian,Vettel,1,None
374,Mexican Grand Prix,Sebastian,Vettel,1,None

This SQL query identifies races where the pole position driver did not finish on the podium (positions 1 to 3). The resulting DataFrame includes the race name, forename, and surname of the driver, the grid position (pole position), and the podium position. By joining the results, races, and drivers tables, and using a LEFT JOIN with a subquery to identify podium finishes, this query provides insights into races where the driver starting in pole position did not achieve a podium position.